<footer class="footer">
  <div class="container">
    <nav class="footer-nav">
      <a href="/" class="active">Home</a>
      <a href="./promise.html">Promise of the Grand Canyon</a>
      <a href="./enduring-courage.html">Enduring Courage</a>
      <a href="./war-on-the-run.html">War On the Run</a>
      <a href="./about.html">About</a>
      <a href="./contact.html">Contact</a>
    </nav>
    <p class="copyright">Copyright 2018. All rights reserved. Site by <a href="http://agibbons.com">Adam Gibbons</a>.</p>
  </div>
</footer>
