<header class="navbar navbar-static-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5 col-sm-6">
        <h1><a href="/">John F. Ross</a></h1>
      </div>
      <div class="col-lg-8 col-md-7 col-sm-6">
        <p class="byline"><em>"...that rare soul who writes narrative history with the verve and timing of an accompolished novelist."</em><br class="visible-lg"> &mdash;Douglas Brinkley</p>
      </div>
    </div>
  </div>
</header>

<header class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand hidden-lg hidden-md hidden-sm">John F. Ross</a>
    </div>
    <nav class="collapse navbar-collapse primary-nav">
      <ul class="nav navbar-nav">
        <li>
          <a href="/" class="active">Home</a>
        </li>
        <li>
          <a href="/enduring-courage">Enduring Courage</a>
        </li>
        <li>
          <a href="/war-on-the-run">War On the Run</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/events">Events</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right" style="display:none">
        <li><a href="http://expo.getbootstrap.com" onclick="_gaq.push(['_trackEvent', 'Navbar', 'Community links', 'Expo']);">Expo</a></li>
        <li><a href="http://blog.getbootstrap.com" onclick="_gaq.push(['_trackEvent', 'Navbar', 'Community links', 'Blog']);">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>