<html>
<head>
  <meta name="google-site-verification" content="8FuI15szDoFJEbjtvnOtMrpcn16XsplD8TWmC_AykEc" />
  <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <title>John F. Ross | Author and Journalist</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="./scripts/jquery.min.js"></script>
  <link type="text/css" rel="stylesheet" href="./styles/main.css">
  <!-- <link type="text/css" rel="stylesheet/less" href="./styles/main.less"> -->
</head>
<body>

  {% include header.html %}

  {{content}}

  {% include footer.html %}

  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../scripts/primary-navigation.js"></script>

</body>
</html>
