@import "../bower_components/bootstrap/less/bootstrap.less";
@import "./bootstrap-variable-overrides.less"; 

.navbar {
  h1 {
    font-size: 3.33em;
  }
  .byline {
    margin-top: 2em;
  }
}

.jumbotron {
  background-color: white;
}

.primary-nav {
  padding-left: 0;
  .active {
    border: 1px solid;
  }
}

